<div class="container">
  <a mat-raised-button color="primary" [routerLink]="['/jugador-create']">
    <mat-icon aria-label="Icon add player">add</mat-icon>
  </a>

  <div class="content">
    <mat-table [dataSource]="jugadores" class="mat-elevation-z8">
      <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nombre}} {{element.apellidos}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dni">
        <mat-header-cell *matHeaderCellDef> DNI </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dni}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="edad">
        <mat-header-cell *matHeaderCellDef> Edad </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.edad}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="pais">
        <mat-header-cell *matHeaderCellDef> Pais </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.pais}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="categoria">
        <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.categoria.nombre}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="observaciones">
        <mat-header-cell *matHeaderCellDef> Observaciones </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.observaciones}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a mat-icon-button color="primary" [routerLink]="['/jugador-edit', element._id]">
            <mat-icon>edit</mat-icon>
          </a>
          <a mat-icon-button color="warn" (click)="deleteJugador(element._id)">
            <mat-icon>delete</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
