.container {
  margin-top: 2%;
  margin-bottom: 2%;
}

.content {
  margin-top: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 150px;
  width: 150px;
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.cardList > * {
  box-sizing: border-box;
  margin-top: 1%;
  width: 150px;
}
.cardList > *:not(:last-child) {
  margin-right: 32px;
}

.card {
  border-radius: 35px;
  text-align: center;
  background-color: black;
  color: white;
}

.mat-card-image {
  height: 150px;
}

.title {
  color: white;
}
