<div class="container">
  <div class="header">
    <div class="logo"><img src="assets/img/logo-cardonal.png" alt="Logo club"></div>
    <div class="title"><h2>A.D. LA LAGUNA CARDONAL</h2></div>
  </div>

  <div class="cardList">
      <mat-card class="card">
        <img mat-card-image mat-button src="assets/img/menu-jugadores.png" alt="Imagen menu jugadores">
        <a mat-raised-button color="primary" [routerLink]="['/jugadores']"> JUGADORES </a>
      </mat-card>
      <mat-card class="card">
        <img mat-card-image mat-button src="assets/img/menu-incidencias.png" alt="Imagen menu incidencias">
        <a mat-raised-button color="primary" [routerLink]="['/']"> INCIDENCIAS </a>
      </mat-card>
      <mat-card class="card">
        <img mat-card-image mat-button src="assets/img/menu-material.png" alt="Imagen menu material">
        <a mat-raised-button color="primary" [routerLink]="['/']"> MATERIAL </a>
      </mat-card>
      <mat-card class="card">
        <img mat-card-image mat-button src="assets/img/menu-partidos.png" alt="Imagen menu partidos">
        <a mat-raised-button color="primary" [routerLink]="['/']"> PARTIDOS </a>
      </mat-card>
  </div>
</div>
