<div class="container">
    <a mat-raised-button color="primary" [routerLink]="['/incidencias']">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <div class="content">
      <form [formGroup]="incidenciaForm" (ngSubmit)="onFormSubmit(incidenciaForm.value)">
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Asunto" formControlName="asunto" [errorStateMatcher]="matcher">
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <mat-label>Fecha de Inicio</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fechaInicio">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <mat-label>Fecha Fin</mat-label>
              <input matInput [matDatepicker]="picker2" formControlName="fechaFin">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Detalle</mat-label>
            <textarea matInput placeholder="Detalle" formControlName="detalle"></textarea>
          </mat-form-field>
          <div class="button-row">
              <button type="submit" [disabled]="!incidenciaForm.valid" mat-raised-button color="primary">
                <mat-icon>save</mat-icon>
              </button>
          </div>
      
      </form>

    </div>
</div>
